.header {
  background: linear-gradient(135deg, #ffffff, #ffffff);
  color: #fff;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0em 3em;
  position: relative;
  z-index: 10;
}

.inicioButtom, .CadastroButtom {
  padding: 10px 25px;
  background: linear-gradient(90deg, #66bb6a, #81c784);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.inicioButtom:hover, .CadastroButtom:hover {
  background: linear-gradient(90deg, #ff5722, #ff7043);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.NameButtom {
  padding: 13px 20px;
  background-color: #ff9800;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.NameButtom:hover {
  background-color: #f57c00;
  transform: scale(1.1);
}

.logo {
  max-height: 60px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  z-index: 10;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
  z-index: 10;
}

.nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ff5722;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.nav a:hover {
  color: #ff5722;
}

.nav a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav ul {
      flex-direction: column;
      align-items: center;
  }

  .nav a {
      font-size: 0.9rem;
  }
}
